/* use these fonts

font-family: 'Courier New', Courier, monospace;

*/

* {
    background-color: black;
    color: orange;
    font-family: 'Courier New', Courier, monospace;
}

.mainTextBox {
    border: 1px dashed orange;
}

.credits {
    border: 1px dashed orange;
}

.imageBox {
    border: 1px dashed orange;
}